<form id="uri_form">
    <input name = "id" type="hidden" value="<%= contractingprocess.id %>">
    <p>
        <label>URI</label>
        <input type="url" name="uri" class="form-control" type="text" value="<%= contractingprocess.uri %>">
    </p>
    <p><label>Politica de publicación (URL)</label>
        <input type="url" name="publicationpolicy" class="form-control" type="text" value="<%= contractingprocess.publicationpolicy %>">
    </p>
    <p>
        <label>Licencia (URL)</label>
        <input type="url" name="license" class="form-control" type="text" value="<%= contractingprocess.license %>">
    </p>

    <p>
        <label>Destino</label>
        <input class="form-control" type="text" name="destino" value="<%= contractingprocess.destino %>" >
    </p>



<div class="well">
    <label> Release Tags </label><br>
    <label class="checkbox-inline"><input name="planning" type="checkbox" <%= tags.planning?'checked':'' %> > planning </label><br>
    <label class="checkbox-inline"><input name="planningUpdate" type="checkbox" <%= tags.planningupdate?'checked':'' %> >planningUpdate</label><br>
    <label class="checkbox-inline"><input name="tender" type="checkbox" <%= tags.tender?'checked':'' %> >tender</label><br>
    <label class="checkbox-inline"><input name="tenderAmendment" type="checkbox" <%= tags.tenderamendment?'checked':'' %> >tenderAmendment</label><br>
    <label class="checkbox-inline"><input name="tenderUpdate" type="checkbox" <%= tags.tenderupdate?'checked':'' %> >tenderUpdate</label><br>
    <label class="checkbox-inline"><input name="tenderCancellation" type="checkbox" <%= tags.tendercancellation?'checked':'' %> >tenderCancellation</label><br>
    <label class="checkbox-inline"><input name="award" type="checkbox" <%= tags.award?'checked':'' %> >award</label><br>
    <label class="checkbox-inline"><input name="awardUpdate" type="checkbox" <%= tags.awardupdate?'checked':'' %> >awardUpdate</label><br>
    <label class="checkbox-inline"><input name="awardCancellation" type="checkbox" <%= tags.awardcancellation?'checked':'' %> >awardCancellation</label><br>
    <label class="checkbox-inline"><input name="contract" type="checkbox" <%= tags.contract?'checked':'' %> >contract</label><br>
    <label class="checkbox-inline"><input name="contractUpdate" type="checkbox" <%= tags.contractupdate?'checked':'' %> >contractUpdate</label><br>
    <label class="checkbox-inline"><input name="contractAmendment" type="checkbox" <%= tags.contractamendment?'checked':'' %> >contractAmendment</label><br>
    <label class="checkbox-inline"><input name="implementation" type="checkbox" <%= tags.implementation?'checked':'' %> >implementation</label><br>
    <label class="checkbox-inline"><input name="implementationUpdate" type="checkbox" <%= tags.implementationupdate?'checked':'' %> >implementationUpdate</label><br>
    <label class="checkbox-inline"><input name="contractTermination" type="checkbox" <%= tags.contracttermination?'checked':'' %> >contractTermination</label><br>
    <label class="checkbox-inline"><input name="compiled" type="checkbox" <%= tags.compiled?'checked':'' %> >compiled</label>
</div>
    <p>
        <button type="submit" class="btn btn-default">Guardar</button>
    </p>
</form>